.rettangolo{
    width: 70px;
    height: 180px;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
}

.luce{
    width: 34px;
    height: 32px;
    margin: 8px auto;
}

.rossa{
    background-color: #FF0000;
}

.verde{
    background-color: #44FF00;
}

.button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 176px;
    height: 66px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-start{
    font-size: 35px;
    font-weight: 400;
    color: #F5F5F5;
    font-family: Arial;
    width: 126px;
    height: 47px;
}

#risultato {
    width: 100px;
    height: 50px;
    margin: 20px auto;
    color: #000000;
    font-family: Arial;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }